*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1280px;
    margin: auto;
    font-family: "Inter", sans-serif;
}

.primary-btn{
    background-color:#1d4ed8FF;
    color: white;
    font-size: 16px;
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
}

/* navbar style */

.nav-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.nav-links ul{
    display: flex;
    gap: 28px;
}

.nav-links a{
    text-decoration: none;
    font-size: 16px;
    color: #575757;
}

.nav-links li{
    list-style: none;
}

/* banner style */

.banner-parent{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/banner.jpg");
    width: 100%;
    height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.banner-text{
    text-align: center;
    color: white;
    padding: 140px 260px;
    
}

.banner-text h1{
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 700;
}

.banner-text p{
    font-size: 22px;
    font-weight: 400;
}

.banner-btn{
    margin-top: 380px;
    font-size: 24px;
}

/* speaker  */

.speaker{
    margin-top: 80px;
    text-align: center;
}

.speaker h1{
    margin-bottom: 56px;
    font-size: 56px;
    font-weight: 900;
}

.speaker-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.speaker-card{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    text-align: left;
}

.card-text{
    padding: 24px;
}

.speaker-card img{
    margin-bottom: 24px;
}

.speaker-card h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.speaker-card h6{
    font-size: 12px;
    color: #2563EB;
    margin-bottom: 8px;
}

.speaker-card p {
    font-size: 14;
    color: #575757;
}

/* prize section */

.prize-parent{
    margin-top: 130px;
    text-align: center;
}

#card-pro{
    background-color: #0D1B2A;
    color: white;
}

#card-pro p{
    color: #2563EB;
}

#card-pro button {
    background-color: #2563EB;
    color: white;
}

#card-team{
    background-color: #E5E7EB;
}

#card-team button{
    border: 1px solid black;
    background-color: #E5E7EB;
    color: #575757;
}
.prize-text h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 12px;
}

.prize-text p{
    font-size: 16px;
    color: #575757;
}

.prize-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    padding: 48px;
    gap: 24px;
}

.prize-card{
    border: 1px solid #E5E7EB;
    padding: 32px;
    border-radius: 12px;
}

.prize-card hr{
    width: 70%;
    margin-bottom: 20px;
}

.prize-card p {
    font-size: 13px;
    font-weight: 600;
    color: #575757;
    margin-bottom: 8px;
}



.prize-card h1{
    font-size: 44px;
    font-weight: bold;
}

.prize-card h6{
    font-size: 13px;
    color: #575757;
    margin-bottom: 20px;
}

.prize-card ul>li{
    margin-bottom: 10px;
    
}

.prize-card ul>li::marker{
    color: #2563EB;
}

.prize-card-btn{
    width: 100%;
    background-color: white;
    font-size: 14px;
    color: #2563EB;
    border: 1px solid #2563EB;
    padding: 12px 18px;
    border-radius: 8px;
    margin-top: 20px;
}

.prize-card-middle{
    border: 1px solid #E5E7EB;
    padding: 32px;
    border-radius: 12px;
    background-color: #0D1B2A;
    color: white;

}




/* date & location */

.location-date-parent{
    margin-top: 130px;
}

.location-text{
    text-align: center;
}

.location-text h3{
    color: #2563EB;
    font-size: 24px;
    margin-bottom: 20px;
}

.location-text h1{
    font-size: 80px;
    margin-bottom: 8px;
}

.location-text p{
    font-size: 22px;
    color: #575757;
    margin-bottom: 25px;
}

.date-location-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}

.location-left,.location-right{
    border: 1px solid #cdd7ed;
    border-radius: 12px;
    padding: 20px;
    background-color: #E5E7EB;
    height: 100%;
    
}

.location-left img, .location-right img{
    width: 30%;
    
}

.location-left h3, .location-right h3{
    color: #2563EB;
    margin-bottom: 8px;
}

.location-left h4, .location-right h4{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}
